@font-face {
  font-family: Adineue;
  src: url(adineue-PRO-Bold.ttf) format("truetype");
}


body {
  background: var(--background);
  margin: 0;
  font-family: Adineue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #fff;
  --color: #0f0f19;
}

[data-theme='dark'] {
  --background: #000;
  --color: #fff;
}
